html { width:100% },

a {
    text-decoration: none;
    color:#000;
}

ul {
  margin:0;
  padding:0;
}

@font-face {
  font-family:pictos;
  src:url('../fontPackage/SourceHanSerifSC-ExtraLight.otf');
}

body {
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
  font-family:pictos;
  padding:0;
  margin:0;
  /* font-family: "Microsoft YaHei", 微软雅黑; */
  background-color: #f2f2f2;
}

/* 最顶部欢迎标语 */

.roof-text {
  width:100%;
	background-color: #b99c56;
	padding: 0.66rem 0;
	color: #fff;
	font-size: 0.9rem;
	line-height: 0.9rem;
	padding-left: 10vw;
	letter-spacing: 3px;
}

/* body设置最大显示宽度 */
.body_content {
  max-width:1920px;
  margin:0 auto;
}

.header {
  width:100%;
}

.nav {
  width: 100%;
	/* margin:0 auto; */
	position: relative;
	border-bottom:1px solid #e7deb8;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav>ul {
	width: 100%;
  padding:12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 过渡效果 */
  transition-duration: 0.3s;
	clear: both;
}

.nav>ul li {
	display: inline-block;
	padding: 15px 0;
	font-size: 18px;
	width: 120px;
	cursor: pointer;
	height: 46px;
	line-height: 50px;
	color:#000;
  text-align: center;
}

.nav > ul li:hover {
	color:#b99c54;
}

.nav ul li.active {
	color:#b99c56;
}

.nav_line {
	display: none;
	margin-top:12px;
}

.nav-menu {
	position: absolute;
	top: 87px;
	/* background-color: #c6aa5a; */
	background-color: #fff;
	height: 0;
	z-index: 99
}

.nav-menu li {
	display: block;
	height: 30px;
	box-sizing: border-box;
	color: #000;
	line-height: 30px;
	transition: all .2s;
  text-align: center;
}

.nav-menu ul li:hover {
	cursor: default;
	color:#c6aa5a;
	cursor: pointer;
}

.nav-menu ul li:active {
	color:#c6aa5a;
}

/* logo定位 */
.nav-logo{
  position:absolute;
  width:9%;
  left:0;
  background-color: #fff;
  max-height: 104px;
  max-width: 150px;
  height:calc(100% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img{
width:100%;
}

/* section部分 */

#section_content {
	flex:1;
	/* 解决IE11flex兼容性问题（flex：1无效） */
	/* -ms-flex:1 0 0; */
	width:100%;
}

.carousel-content{
	width:100%;
	position: relative;
}

.carousel {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.carousel ul {
	font-size: 0;
}

.carousel li {
	display: inline-block;
}

.carousel li img {
	width:100%;
}

.carousel li div {
	width: 100vw;
	/* height: 463px; */
	background-position: center;
	background-size: cover;
}
.carousel_arrows {
	position: absolute;
	height:80px;
	width:100%;
	display: flex;
	justify-content:space-between;
}

.carousel-prev img {
	transform:rotate(180deg);
	margin-left: 3.5em;
}


.carousel-next img {
	margin-right: 3.5em;
}

.carousel-prev img,
.carousel-next img{
	width:80px;
	display: none;
}

.carousel_origin {
	position: absolute;
	/* top:200px; */
	width:100%;
	display: flex;
	justify-content: center;
	align-items:center;
}

.carousel_origin_list span {
	width:7px;
	height:7px;
	display:inline-block;
	background-color: #fff;
	/* border:1px solid #fff; */
	border-radius: 50%;
	margin:0 0.39em;
}

/* 面包屑 */
.common_crumbs {
	color: #7c7c7b;
	font-size: 0.9rem;
	position: absolute;
	top:9em;
	z-index:991;
	margin-top:24px;
}

.common_crumbs a {
	color:#7c7c7b;
	text-decoration: none;
}
